.body{
    height: 100vh;
    /* border: 2px solid red; */
    background-color: rgb(3, 3, 83);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.box{
    color: white;
    height: 80%;
    width: 80%;
    display: flex;
    margin-left: 100px;
    box-shadow: 0px 0px 30px black;
    border-radius: 10px;
    border: 2px solid white;
}
.section1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 0px 0px 40px blue;
}
.box1{
    border: 2px solid green;
}
.section2{
    width: 50%;
}
.section2 h1{
    height: 35%;
    display: flex;
    align-items: end;
    color: red;
}
.section2 p{
    width: 70%;
}
.box2{
    color: white;
    height: 80%;
    width: 80%;
    /* display: flex; */
    margin-left: 100px;
    box-shadow: 0px 0px 30px black;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(3, 3, 83);
}
.box2 h1{
    width: 35%;
    height: 20%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.box2Section1{
    height: 70%;
    display: flex;
}
.summry{
    width: 50%;
}
.summry p{
    height: 60%;
    display: flex;
    margin-top: 10px;
    text-align:start;
    padding-left: 40px;
    font-size: 20px;
}
.summry1{
    width: 50%;
}
.summryBox{
    height: 10%;
    margin-top: 20px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.list li{
    padding: 5px 10px 5px 10px;
    background-color: rgb(3, 3, 17);
    border-radius: 5px;
    box-shadow: 0px 0px 12px blue;
    list-style-type: none;
}