.container{
    background-color: #212930;
    color: white;
    margin-top: auto;
}
.box{
    display: flex;
    justify-content: space-around;
}
.heading{
    margin-top: 50px;
}
.box1{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    margin-top: 50px;
}
.icon{
    color: blue;
}
.box2{
    padding-left: 50px;
    margin-top: 30px;

}
.row{
  display: flex;
  flex-direction: row;
  gap: 200px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.section1{
    margin-top: 80px;
}
.sectionBox{
    display: flex;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.list{
    list-style-type: none;
    margin-top: 15px;
}