.body{
    height: 100vh;
    /* border: 2px solid red; */
    background-color: rgb(3, 3, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.box{
    color: white;
    height: 80%;
    width: 80%;
    display: flex;
    box-shadow: 0px 0px 30px black;
    border-radius: 10px;
    border: 2px solid white;
}
.section1{
    width: 50%;
}
.section1 h3{
    color: red;
    height: 30%;
    display: flex;
    align-items: end;
    padding-left: 50px;
}
.section1 h2{
    padding-left: 50px;

}
.section1 p{
    padding-left: 50px;
    width: 90%;
}
.iconBox{
    height: 10%;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    width: 60%;
    padding-left: 60px;
    align-items: end;
}
.icon{
    border: 2px solid red;
    padding: 0px 5px;
    border-radius: 50%;
    color: red;
}
.section2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 0px 0px 40px blue;
}